.detailsPage {
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem 3rem 2rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-y: scroll;
  height: 100vh;
}
.detailsPage::-webkit-scrollbar {
  width: 15px;
}
.detailsPage::-webkit-scrollbar-track {
  background-color: transparent;
}
.detailsPage::-webkit-scrollbar-thumb {
  background: white;
  background-clip: content-box;
  border-radius: 20px;
  border: 6px solid transparent;
}
.movie-title {
  text-transform: capitalize;
  font-size: 48px;
}
.movie-description {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.dot {
  font-weight: 800;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
.movie-overview {
  margin: 0.5rem 0 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--text-color);
  word-spacing: 4px;
}
.genre-btn {
  background-color: #00d5ff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  padding: 6px 25px;
}
.movie-deatils-btn {
  text-transform: uppercase;
  color: #fff !important;
  background-color: #00b5db;
  padding: 0.5rem 2rem;
  text-align: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.movie-deatils-btn:hover {
  border: 1px solid #00b5db !important;
}
.movie-deatils-btn img {
  height: 1rem;
  width: 1rem;
}

@media (max-width: 475px) {
  .detailsPage {
    padding: 1rem;
  }
  .movie-title {
    font-size: 32px;
  }
  .movie-deatils-btn {
    width: 100%;
  }
}
