@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Raleway:wght@100;300;500&family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.dark {
  --bg-color: #0d181f;
  --text-color: white;
  --scroll-bg: #d6dee1;
  --scroll-color: transparent;
  --sidebar-title: #656f7f;
  --card-title: #d9d9d9;
  --sidebar-navlinks: #848b9e;
  --search-box-shadow: #000;
  --second-white: #15181e;
  --border-color: hsla(0, 0%, 100%, 0.1);
}
.light {
  --bg-color: #f7f7f7;
  --text-color: black;
  --scroll-color: white;
  --scroll-bg: #566970;
  --sidebar-title: black;
  --card-title: black;
  --sidebar-navlinks: #545658;
  --search-box-shadow: #dfdddd;
  --second-white: #f2f5fa;
  --border-color: #545658;
}
.rating-div svg {
  color: #00b5db !important;
}
